/*------General------*/

* {
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.body {
    margin: 0;
    font-size: 1rem;
}

.page-container {
     max-width: 975px;
     margin: 0 auto;
}

/*------BUTTON------*/

.add-button {
    color: green;
    font-size: 1.5rem;
}

.button {
    border-radius: 10px;
    padding: 0.5rem;
}

.edit-button {
    background-color: rgba(10, 6, 250, 0.89);
}

.delete-buton {
    background-color: red;  
}

.back-button {
    background-color: grey;
}

.validate-button {
    background-color: rgb(110, 216, 5);
    color: white;
}

.form-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-button {
    width: calc(50% - 2rem);
    padding: 0.2rem;
}

.add-button {
    margin-left: 1rem;
    padding: 0.2rem;
    width: 100%;
    font-size: 1rem;
}

/*------FORM------*/

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container-box {
    display: flex;
    align-items: flex-end;
}

.form-container-article {
    margin-right: 5rem;
}

.area-layout {
    display: flex;
    flex-direction: column;
}

.area-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content {
    display: flex;
    margin: 1rem 0;
}

.form-content-add {
    width: calc(50% - 1rem);
}

.label {
    margin-right: 1rem;
    width: 20%;
}

.input {
    width: 80%;
}

.title-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articles {
    margin: 1.5rem 0;
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.article-footer {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-infos {
    display: flex;
}

.articleView-footer {
    display: flex;
    flex-direction: column;
}

.articleView-infos {
    margin: 1.5rem 0;
    display: flex;
}

.articleView-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
